.NavBar,
.NavBar .balance {
	background-color: #1c87c9;
	width: 100%;
	overflow: hidden;
}

.link {
	text-decoration: none;
	color: black;
}

/* .all {
	margin-left: 40%;
} */

/* .NavBar button {
	float: right;
} */

/* .balance {
	margin-left: 70%;
} */
