.transaction {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

h2 {
	text-align: center;
	margin-top: 5%;
	color: blanchedalmond;
}

table {
	width: 80%;
	margin: 30px auto;
	border-collapse: collapse;
}

tr {
	background-color: lightgrey;
}

th {
	background-color: #1c87c9;
}

th,
td {
	padding: 10px;
	border: 1px solid rgb(102, 102, 102);
}
